---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle={"Proteria"}>
    <div class="layout--404">
        <div class="card--404">
            
            <p><strong>This field doesn't have a help field, yet...</strong></p>
            <p>Our appologies!</p>
            <p>You can find help fields by tapping on the label or the field itself.</p>
        </div>
    </div>
</BaseLayout>

<style>
.layout--404{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
}

.card--404{
    flex-direction: column;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 100px;
}
</style>