---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";
import Footer from "../components/Footer.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
const pageTitle = "Home Page";
const allPosts = await Astro.glob("../pages/posts/*.md");
---
<BaseLayout pageTitle={pageTitle}>
  <h1 class="title">Proteria Help Fields <ThemeIcon /> </h1>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
  <Footer />
</BaseLayout>

<style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
</style>